@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  scrollbar-width: none;
}
.trans {
  transition: all 0.3s;
}
.hoverBlue:hover {
  color: #0078f2;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mini-slider .swiper-pagination {
  position: static !important;
  padding: 5px 0 !important;
}
.mini-slider .swiper-pagination-bullet {
  height: 5px !important;
  width: 5px !important;
  margin: 0 6px !important;
}
.mini-slider .swiper-pagination-bullet,
.big-slider .swiper-pagination-bullet {
  background: #fff !important;
}
.mini-slider .swiper-wrapper {
  width: 80% !important;
}
.big-slider .swiper-wrapper {
  width: 90% !important;
}
.hoverLay::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}
.linear-bg {
  background: linear-gradient(to top, #0b0b0bd9, #0b0b0b00);
}
.linear-bg-right {
  background: linear-gradient(to right, #161616d9, #19191900);
}

.desktop-slider {
  display: flex !important;
  gap: 8px;
}
.desktop-slider .swiper-wrapper {
  width: 78% !important;
}
.desktop-slider .swiper-slide {
  width: 100% !important;
}
.desktop-slider .swiper-pagination {
  width: 20% !important;
  display: flex !important;
  position: static !important;
  flex-direction: column;
  gap: 3px;
  font-size: 14px !important;
}
.desktop-slider .swiper-pagination-bullet {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  background: transparent !important;
  display: flex !important;
  align-items: center !important;
  text-align: left !important;
  gap: 3px;
  border-radius: 8px !important;
  color: #fff !important;
  opacity: 1;
  z-index: 3;
}
.desktop-slider .swiper-pagination-bullet:hover {
  background: #ffffff15 !important;
}
.desktop-slider .swiper-pagination-bullet img {
  height: 40px;
  border-radius: 4px;
  margin: 0 10px;
}

.desktop-slider .swiper-pagination-bullet-active {
  background: #ffffff15 !important;
  overflow: hidden;
}
.moving-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: #404044;
  z-index: 2;
}
.swiper-pagination-bullet-active .moving-overlay {
  animation: move 7000ms linear;
  opacity: 0.5;
}
.discover:hover .move-right {
  margin-left: 12px;
  transition: all 0.3s linear;
}
@keyframes move {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.discover-slider.swiper {
  display: flex !important;
  flex-direction: column-reverse !important;
}
.discover-slider .swiper-wrapper {
  width: 60% !important;
}
.discover-slider .swiper-button-next,
.discover-slider .swiper-button-prev {
  position: relative;
}
.discover-slider .swiper-button-next {
  margin: 5px !important;
  left: 96% !important;
}
.discover-slider .swiper-button-prev {
  left: 82% !important;
  top: -27px !important;
}
.discover-slider .swiper-button-next::after,
.discover-slider .swiper-button-prev::after {
  font-size: 12px !important;
  color: #fff;
  width: 30px;
  height: 30px;
  background: #ffffff24;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .discover-slider .swiper-button-next,
  .discover-slider .swiper-button-prev {
    display: none;
  }
}
.list-slider .swiper-wrapper {
  width: 100% !important;
}
